.header {
  background-color: var(--color-inputs);
  border-bottom: 1px solid var(--color-badges);
  padding: 24px 0;
}

.navLogo {
  display: flex;
  align-items: center;
  position: absolute;
  width: 132px;
  height: 20px;
}
